# Intellij
.idea/
out/
*.iml
*.iws
*.war
*.MF

# Mac
.DS_Store

# Gradle
.gradle
/build
gradlew.bat
gradlew
**/gradle-wrapper.properties

# Ubuntu przy modyfikacji
*~

classes/

# Pluginy
atlassian-ide-plugin.xml